<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h4>Info</h4>
                <ul>
                    <li>Basic footer</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h4>Info</h4>
                <ul>
                    <li>Basic footer</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h4>Info</h4>
                <ul>
                    <li>Basic footer</li>
                </ul>
            </div>
        </div>
    </div>
</footer>